.reviewTitle {
  padding-bottom: 3em;
  text-align: center;
}

.reviewTitle p {
  font-size: var(--fs20);
  line-height: 1.5em;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.reviewTitle p strong {
  font-weight: 700;
  padding: 0px 5px;
}
.reviewTitle p label {
  display: block;
  width: 120px;
  padding: 0px 5px;
}
.reviewTitle p span {
  padding: 0px 5px;
  display: block;
  max-width: 90px;
}
.reviewTitle p svg {
  display: block;
  width: 100%;
}

.reviewSliderMain {
  width: 100%;
  padding: 0px 0px 2em 0px;
}

.reviewSlider {
  padding: 0px 30px 0em 30px;
}

.reviewSlider {
  width: 100%;
}

.reviewBox {
  background-color: var(--grey50);
  border-radius: 6px;
  border: 2px solid transparent;
  padding: 0.875em;
}

.reviewsSlide {
  padding: 0px 6px;
}

.reviewBox_topRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

.reviewBox_topLeft {
  flex-shrink: 0;
  width: 90px;
}

.reviewRatting {
  width: 100%;
}
.reviewRatting img {
  display: block;
  width: 100%;
  height: auto;
  max-width: none;
}

.reviewBox_verified span {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 20px;
  font-size: var(--fs14);
  line-height: 1.4em;
  font-weight: 400;
  background: url("../images/rating/verifiedTick.svg") no-repeat left center;
  background-size: auto 90%;
  color: var(--pg_color);
}

.reviewBox_content {
  width: 100%;
  padding-bottom: 1.2em;
}

.reviewBox_content h4 {
  color: var(--p_color);
  font-size: var(--f18);
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 8px;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.reviewBox_content p {
  color: var(--p_color);
  font-size: var(--f18);
  line-height: 1.2em;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reviewBox_userInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewBox_userInfo p {
  padding-left: 0em;
  font-size: var(--fs16);
  color: #11487b;
  line-height: 1.2em;
  font-weight: 700;
  transition: var(--transition);
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.reviewBox_userInfo span {
  color: var(--grey2);
  font-size: var(--f14);
  line-height: 1.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 0;
}

.reviewFooter p {
  font-size: var(--fs20);
  color: var(--p_color);
  line-height: 1.5em;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.reviewFooter p a {
  text-decoration: underline;
  color: var(--p_color);
  margin: 0px 2px;
}
.reviewFooter p a:hover {
  text-decoration: none;
}

.reviewFooter p strong {
  font-weight: 700;
  padding: 0px 5px;
}
.reviewFooter p label {
  display: block;
  width: 120px;
  padding: 0px 5px;
}
.reviewFooter span {
  padding: 0px 5px;
  display: block;
  max-width: 90px;
  margin: auto;
}
.reviewFooter svg {
  display: block;
  width: 100%;
}

.reviewSliderMain .slick-arrow {
  background: url('data:image/svg+xml,<svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.9057 5.7334H3.03906" stroke="%230FA85B" stroke-width="1.62133" stroke-linecap="round" stroke-linejoin="round"/><path d="M5.99388 1.30008L1.56055 5.73341L5.99388 10.1667" stroke="%230FA85B" stroke-width="1.62133" stroke-linecap="round" stroke-linejoin="round"/></svg>')
    no-repeat 9px center;
  width: 34px;
  height: 34px;
  left: -15px;
  top: 50%;
  margin-top: -17px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--pg_color);
  background-color: var(--white);
  font-size: 0px;
  z-index: 22;
  cursor: pointer;
}

.reviewSliderMain .slick-arrow.slick-next {
  left: initial;
  right: -15px;
  transform: rotate(180deg);
}
